
<div class="row col-md-10 content-back">
	<div class="col-md-5">
		<div class="filtered-options"> 
			<h1 class="title"> Filtering Menu</h1>
			<h5>Coming soon!</h5>
		</div>

		<div class="col-md-6">
			<!-- <h1 class="title"> Sides</h1> -->
			<!-- <div class=" menu-banner">
				<p class="heading"><i class="fa fa-cutlery"></i>
                </p>
                <h5> Sides</h5>
				<img src="http://www.roadfood.com/Photos/18649.jpg">
			</div> -->
			<ul class="food-list" ng-repeat="plate in sideMenu track by $index"> 
				<li>{{plate.name}} </li>
				<li>{{plate.price}}</li>
				<li><button class="btn btn-success" ng-click="dosomething(plate)">Add to cart</button> </li>
			</ul>
		</div>
		<div class="col-md-6">
			<!-- <h1 class="title"> Deserts</h1> -->
			<ul class="food-list" ng-repeat="plate in desertMenu track by $index"> 
				<li>{{plate.name}} </li>
				<li>{{plate.description}} </li>

				<li>{{plate.price}}</li>
				<li><button class="btn btn-success" ng-click="doSomething(plate)">Add to cart</button> </li>
			</ul>
		</div>
		
	</div>
	<!-- end of column one sides and deserts -->
 	<div class="col-md-3">
 		<!-- <h1 class="title">Lunch Menu </h1> -->
		<ul class="food-list" ng-repeat="plate in plates track by $index"> 
			<li>{{plate.name}} </li>
			<li>{{plate.description}}</li>
			<li>{{plate.price}}</li>
			<li><button class="btn btn-success" ng-click="dosomething(plate)">Add to cart</button> </li>
		</ul>
	</div>
	<!-- end of lunch menu -->
	<div class="col-md-3">
 		<!-- <h1 class="title">Dinner Menu </h1> -->
		<ul class="food-list" ng-repeat="dinner in dinnerOptions track by $index"> 
			<li>{{dinner.name}} </li>
			<li>{{dinner.description}}</li>
			<li>{{dinner.price}}</li>
			<li><button class="btn btn-success" ng-click="dosomething(plate)">Add to cart</button> </li>
		</ul>
	</div>
</div>

<!-- background column -->

<div class="col-md-2">
	<h3>checkout</h3>
	<h5>{{checkout}} </h5>
</div>
<div class="col-md-4">
	<div class="table-responsive">
			<table class="table table-striped table-hover">
				<tr> </tr>
					<th>item</th>
					<th>quantity</th>
					<th>price</th>

				<tr ng-repeat="meal in checkout"> 
					<td>{{meal.name}} </td>
					<td> </td>
					<td>{{meal.price}} </td>
				</tr>
			</table>
	</div>
</div>
